:root{
  font-family: 'Rajdhani', sans-serif;
}

body {
  background-color: black;
  margin: 0px;
  overflow: hidden;
}

canvas.chroma{
  filter: url(#chroma1);
}
canvas.bloom{
  filter: url(#bloom);
}
canvas.bloom.chroma {
  filter: url(#bloom) url(#chroma1) !important;
}
canvas{
  width: 100%;
  height: 100%;
}

.buttton {
  width: 5rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: white;
  filter: url(#chroma1);
}

.buttton:hover {
  filter: url(#bloom) url(#chroma1) 
}

.hidden{
  display: none !important;
}

.settings_menu{
  display: block;
  position: absolute;
  left: 25vw;
  top: 25vh;
  width: 50vw;
  height: 50vh;
  border: 2px solid white;
  border-radius: 1rem;
  background-color: black;
}

.settings_menu > *{
  margin: 20px;
  color: white;
  font-size: 1.5rem;
}

check-box{
  display: flex;
  justify-content: space-between;
}

#login_form{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  color: red;
  flex-direction: column;
}

#name_input{
  background-color: black;
  border: 2px solid white;
  border-radius: 12px;
  color: white;
  height: 2rem;
  line-height: 2rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  text-align: center;
}

#join_button {
  margin-top: 0.5rem;
  border-radius: 100vh;
  height: 2rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  height: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

#name_input:focus{
  outline: none;
}